body{
  font-weight: 400;
  text-transform: none;
  background-color: #faf9f8;
  color: #222;
}

.nav-all{
  position: relative;
}
button{
  font-size: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header-left{
  float: left;
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 20px;
}

.header-right{
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  position: absolute;
  top: 5px;
  right: 10px;
  bottom: 20px;
}
.header-jump{
  margin: 10px;
}

.nav-section{
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

ul{
  list-style: none;
  padding: 20px;
}
li{
  float: left;
  margin: 10px;
  cursor: pointer;
}

.nav-second{
  display: flex;
  justify-content: center;
}

.menu-list{
  position: relative;
  padding: 13px
}

.search{
  position: absolute;
  right: 50px;
  top: 102px;
  border-bottom: 1px solid black;
  padding: 5px; 
}
.search input{
  border: none;
  background-color: #faf9f8;
  margin-left: 2px;
  padding: 4px 5px 4px 10px;
  color: #222;
}
.search input:focus{
  outline: none;
}